/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";


@theme{
    --color-primary:#ff3b3f;
    --color-secondary:#FFC107;
    --color-dark:#1e1e1e;
    --color-accent-dark:#2c2c2c;
    --color-neutral:#F9FAFB;
    --color-accent:#1E293B;
    --font-roboto:"Roboto", sans-serif;
    --font-poppins:"Poppins", sans-serif;
} */



@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@100..900&display=swap");

@theme {
  --color-primary: hsl(353, 93%, 50%);
  --color-primary-alt: hsl(353, 93%, 46%);
  --color-primary-dark: hsl(353, 50%, 15%);
  --color-title: hsl(353, 48%, 12%);
  --color-text: hsl(353, 16%, 32%);
  --color-text-light: hsl(353, 16%, 48%);
  --color-light: hsl(24, 86%, 90%);
  --color-body: hsl(24, 86%, 88%);
  --color-container: hsl(24, 86%, 92%);
  --shadow-small-img: 0 4px 16px hsla(353, 100%, 8%, .18);
  --shadow-big-img: 0 8px 32px hsla(353, 100%, 8%, .18);
  --font-body: "Montserrat", sans-serif;
  --font-heading: "Carter One", system-ui;
}